
h1{
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(175, 237, 112);
    text-align: center;
    border-radius: 70px;
    padding: 5px;
   
}
.wb{
    font-size:50px ;
}